body{
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
    color: darkolivegreen;
    background-color: #BFBD93;
}

/*Skal højst sandsynligt ikke bruges*/
/*.section3{
    color: darkolivegreen;
    background-color: #BFBD93;
}*/

.container1 {
    width: 1200px;
    margin: 0 auto;
    /*outline: dashed 1px black;*/
}

.lejeaftaleInfo {
    margin-bottom: 30px;
}

.centerDiv {
    margin: 20px auto;

}

.tables {
    text-align: left;
    display: inline-block;
}

.tableFormatting {
    display: inline-block;
    vertical-align: top;
    /*border: 1px solid black;*/
}

.buttonFormatting {
    display: inline-block;
    text-align: center;
}

table, th, td {
    border: 1px solid black;
}

.firstDiv {
    padding-right: 20px;
}

.secondDiv {
    padding-left: 20px;
}

