<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bilabonnement</title>
        <link rel="stylesheet" th:href="@{style.css}" href="style.css">
    </head>
    <body>
        <div>
            <h1>Hello admin</h1>
            <button onclick="location.href='/ikkeGodkendteLejeaftaler'">Ikke godkendte lejeaftaler</button>
            <button onclick="location.href='/godkendteLejeaftaler'">Godkendte lejeaftaler</button>
            <form method="get" action="/logUd">
                <button type="submit">log ud</button>
            </form>
        </div>
    </body>
</html>