<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bilabonnement</title>
        <link rel="stylesheet" th:href="@{style.css}" href="style.css">
    </head>
    <body>
    <header>

        <div class="header">
            <img class="logo" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_mxocob.svg" alt="Bilabonnement"/>
            <div class="header-right">
                <p> Logget in som name</p>
            </div>
        </div>



    </header>
        <div>
            <button onclick="location.href='/ikkeGodkendteLejeaftaler'">Ikke godkendte lejeaftaler</button>
            <button onclick="location.href='/godkendteLejeaftaler'">Godkendte lejeaftaler</button>
            <form method="post" action="/logUd">
                <button type="submit">log ud</button>
            </form>
        </div>
    </body>
</html>