<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" th:href="@{style.css}" href="style.css">
</head>
<body>
<h2>Alle lejeaftaler</h2>


<section class="section2">

    <table>
        <tr>
            <th>oprettelsesdato</th>
            <th>Kunde cpr</th>
            <th>Bil stelnummer</th>

        </tr>
        <div>
            <span th:if="${!isGodkendt}">
                <tr th:each="lejeaftale,iter : ${igLejeaftaler}">
                    <form method="POST" th:action="@{/ikkeGodkendteLejeaftaler/{aftaleNo}(aftaleNo = ${iter.index})}">
                        <td th:text="${lejeaftale.getOprettelsesDato()}"></td>
                        <td th:text="${lejeaftale.getKunde().getCpr()}"></td>
                        <td th:text="${lejeaftale.getBil().getStelnummer()}"></td>
                        <td><button type="submit">GO</button></td>
                    </form>
                </tr>
            </span>

            <span th:unless="${!isGodkendt}">
                <tr th:each="lejeaftale,iter : ${lejeaftaler}">
                    <form method="POST" th:action="@{/godkendteLejeaftaler/{aftaleNo}(aftaleNo = ${iter.index})}">
                        <td th:text="${lejeaftale.getOprettelsesDato()}"></td>
                        <td th:text="${lejeaftale.getKunde().getCpr()}"></td>
                        <td th:text="${lejeaftale.getBil().getStelnummer()}"></td>
                        <td><button type="submit">GO</button></td>
                    </form>
                </tr>
                        <h2>Samlet udlejningspris: </h2>
                    <a th:text="${totalpris}"></a>
            </span>
        </div>
    </table>
            <form class="buttonFormatting" method="GET" action="/admin">
                <button type="submit">Tilbage</button>
            </form>
</section>
</body>
</html>