<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" th:href="@{style.css}" href="style.css">
</head>
<body>
    <h2>Alle lejeaftaler</h2>


    <section class="section2">

            <table>
                <tr>
                    <th>oprettelsesdato</th>
                    <th>Kunde cpr</th>
                    <th>Bil stelnummer</th>

                </tr>
                <div>
                <tr th:if="${!isGodkendt}" th:each="lejeaftale,iter : ${igLejeaftaler}">
                    <form method="POST" th:action="@{/ikkeGodkendteLejeaftaler/{aftaleNo}(aftaleNo = ${iter.index})}">
                        <td th:text="${lejeaftale.getOprettelsesDato()}"></td>
                        <td th:text="${lejeaftale.getKunde().getCpr()}"></td>
                        <td th:text="${lejeaftale.getBil().getStelNummer()}"></td>
                        <td><button type="submit">GO</button></td>
                    </form>
                </tr>

                    <tr th:unless="${!isGodkendt}" th:each="lejeaftale,iter : ${lejeaftaler}">
                    <form method="POST" th:action="@{/godkendteLejeaftaler/{aftaleNo}(aftaleNo = ${iter.index})}">
                        <td th:text="${lejeaftale.getOprettelsesDato()}"></td>
                        <td th:text="${lejeaftale.getKunde().getCpr()}"></td>
                        <td th:text="${lejeaftale.getBil().getStelNummer()}"></td>
                        <td><button type="submit">GO</button></td>
                    </form>
                </tr>
                </div>
            </table>
        </form>
    </section>
</body>
</html>