<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" th:href="@{style.css}" href="style.css">
</head>
<body>
    <div class="container1">
        <h2>Alle lejeaftaler</h2>

        <section class="section2">
                <span th:if="${!isGodkendt}">
                    <table class="centerDiv">
                        <tr>
                            <th>oprettelsesdato</th>
                            <th>Kunde cpr</th>
                            <th>Bil stelnummer</th>
                        </tr>

                        <form class="buttonFormatting" method="GET" action="/login-success">
                            <button type="submit">Tilbage</button>
                        </form>

                        <tr th:each="lejeaftale,iter : ${igLejeaftaler}">
                            <form method="POST" th:action="@{/ikkeGodkendteLejeaftaler/{aftaleNo}(aftaleNo = ${iter.index})}">
                                <td th:text="${lejeaftale.getOprettelsesDato()}"></td>
                                <td th:text="${lejeaftale.getKunde().getCpr()}"></td>
                                <td th:text="${lejeaftale.getBil().getStelnummer()}"></td>
                                <td><button type="submit">GO</button></td>
                            </form>
                        </tr>
                    </table>

                </span>

                <span th:unless="${!isGodkendt}">
                    <div class="lejeaftaleInfo">
                        <div class="buttonFormatting">
                            <div class="firstDiv">
                                <h3>Samlet udlejningspris: </h3>
                                <a th:text="${totalpris}"></a>
                            </div>
                        </div>

                        <div class="buttonFormatting">
                            <div class="secondDiv">
                                <h3>Nuværende antal udlejede biler: </h3>
                                <a th:text="${antalUdlejedeBiler}"></a>
                            </div>
                        </div>
                    </div>

                    <form class="buttonFormatting" method="GET" action="/login-success">
                        <button type="submit">Tilbage</button>
                    </form>

                    <table class="centerDiv">
                        <h2>Igangværende</h2>
                        <tr>
                            <th>Oprettelsesdato</th>
                            <th>Startdato</th>
                            <th>Kunde cpr</th>
                            <th>Bil stelnummer</th>
                        </tr>

                        <tr th:each="lejeaftale : ${igangvaerende}">
                            <form method="POST" th:action="@{/godkendteLejeaftaler/{aftaleNo}(aftaleNo = ${lejeaftale.getId()})}">
                                <td th:text="${lejeaftale.getOprettelsesDato()}"></td>
                                <td th:text="${lejeaftale.getStartDato()}"></td>
                                <td th:text="${lejeaftale.getKunde().getCpr()}"></td>
                                <td th:text="${lejeaftale.getBil().getStelnummer()}"></td>
                                <td><button type="submit">GO</button></td>
                            </form>
                        </tr>
                    </table>

                    <table class="centerDiv">
                        <h2>Afsluttede</h2>
                        <tr>
                            <th>Oprettelsesdato</th>
                            <th>Startdato</th>
                            <th>Kunde cpr</th>
                            <th>Bil stelnummer</th>
                            <th>Tilstandsrapport status</th>
                        </tr>

                        <tr th:each="lejeaftale : ${afsluttede}">
                            <form method="POST" th:action="@{/godkendteLejeaftaler/{aftaleNo}(aftaleNo = ${lejeaftale.getId()})}">
                                <td th:text="${lejeaftale.getOprettelsesDato()}"></td>
                                <td th:text="${lejeaftale.getStartDato()}"></td>
                                <td th:text="${lejeaftale.getKunde().getCpr()}"></td>
                                <td th:text="${lejeaftale.getBil().getStelnummer()}"></td>
                                <td th:if="${lejeaftale.isTilstandsrapportEmpty() == true}" th:text="${manglerTilstandsrapport}"></td>
                                <td th:unless="${lejeaftale.isTilstandsrapportEmpty() == true}" th:text="${harTilstandsrapport}"></td>
                                <td><button type="submit">GO</button></td>
                            </form>
                        </tr>
                    </table>
                </span>
        </section>
    </div>
</body>
</html>