<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="car, leje, subscription:)">
    <meta name="description" content="...">
    <title>Bilabonnement</title>
    <link rel="stylesheet" th:href="@{style.css}" href="style.css">
</head>
<body>
    <header>
    </header>

        <div class="header">
            <img class="logo" src="https://res.cloudinary.com/digital-interdan-bilabonnement/image/upload/c_fit,q_80,w_128/v1/Logos/logo_brands_mxocob.svg" alt="Bilabonnement"/>
            <div class="header-right">
                <h1>BIL ABONNEMENT LEJEAFTALE REGISTRERING</h1>
            </div>
        </div>

    <div class="container">


        <form class="login" method="post" action="/login-submit">
            <input name="userName" type="text" placeholder="brugernavn">
            <input name="password" type="password" placeholder="adgangskode">
            <button type="submit">login</button>
        </form>



    </div>

</body>
</html>