<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bilabonnement</title>
        <link rel="stylesheet" th:href="@{style.css}" href="style.css">
    </head>
    <body>
        <h2>Lejeaftale</h2>

        <section class="lejeaftaleInfo">

            <div class="tables">
                <table class="tableFormatting">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Kunde</th>
                        </tr>
                    </thead>

                    <tbody th:each="customer : ${leaseAgreement.getCustomer()}">
                        <tr>
                            <td>Fornavn</td>
                            <td th:text="${customer.getFirstName()}"></td>
                        </tr>
                        <tr>
                            <td>Efternavn</td>
                            <td th:text="${customer.getLastName()}"></td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td th:text="${customer.getAddress()}"></td>
                        </tr>
                        <tr>
                            <td>Postnummer</td>
                            <td th:text="${customer.getPostalCode()}"></td>
                        </tr>
                        <tr>
                            <td>By</td>
                            <td th:text="${customer.getCity()}"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td th:text="${customer.getEmail()}"></td>
                        </tr>
                        <tr>
                            <td>Mobil</td>
                            <td th:text="${customer.getPhoneNumber()}"></td>
                        </tr>
                        <tr>
                            <td>CPR</td>
                            <td th:text="${customer.getCpr()}"></td>
                        </tr>
                        <tr>
                            <td>Reg.Nummer</td>
                            <td th:text="${customer.getRegNumber()}"></td>
                        </tr>
                        <tr>
                            <td>kontonummer</td>
                            <td th:text="${customer.getAccountNumber()}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="tableFormatting">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Bil</th>
                        </tr>
                    </thead>

                    <tbody th:each="car : ${leaseAgreement.getCar()}">
                        <tr>
                            <td>Bilnavn</td>
                            <td th:text="${car.getBrand()}"></td>
                        </tr>
                        <tr>
                            <td>Model</td>
                            <td th:text="${car.getModel()}"></td>
                        </tr>
                        <tr>
                            <td>Stelnummer</td>
                            <td th:text="${car.getChassisNumber()}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="tableFormatting">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Abonnement</th>
                        </tr>
                    </thead>

                    <tbody th:each="subscription : ${leaseAgreement.getSubscription()}">
                        <tr>
                            <td>Lejeperiode/måned</td>
                            <td th:text="${subscription.getLengthInMonths()}"></td>
                        </tr>
                        <tr>
                            <td>Lav selvrisiko</td>
                            <td th:text="${subscription.hasLowDeductible()}"></td>
                        </tr>
                        <tr>
                            <td>Afleveringsforsikring</td>
                            <td th:text="${subscription.hasDeliveryInsurance()}"></td>
                        </tr>
                        <tr>
                            <td>Valgt farve</td>
                            <td th:text="${subscription.hasStandardColor()}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="tableFormatting">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Prisoverslag</th>
                        </tr>
                    </thead>

                    <tbody th:each="priceEstimate : ${leaseAgreement.getPriceEstimate()}">
                        <tr>
                            <td>Lejeperiode/måned</td>
                            <td th:text="${priceEstimate.getSubscriptionLength()}"></td>
                        </tr>
                        <tr>
                            <td>Totalpris</td>
                            <td th:text="${priceEstimate.getTotalPrice()}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="tableFormatting">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Afhentningssted</th>
                        </tr>
                    </thead>

                    <tbody th:each="pickupPlace : ${leaseAgreement.getPickupPlace()}">
                        <tr>
                            <td>Adresse</td>
                            <td th:text="${pickupPlace.getAddress()}"></td>
                        </tr>
                        <tr>
                            <td>Postnummer</td>
                            <td th:text="${pickupPlace.getPostalCode()}"></td>
                        </tr>
                        <tr>
                            <td>By</td>
                            <td th:text="${pickupPlace.getCity()}"></td>
                        </tr>
                        <tr>
                            <td>Leveringspris</td>
                            <td th:text="${pickupPlace.getDeliveryCost()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <div>
                <span th:if="${!leaseApproved}">
                    <p>Husk at indsætte start dato</p>
                    <form class="buttonFormatting" th:if="${!leaseApproved}" method="POST" action="/add-to-database">
                        <input name="startDato" type="date" placeholder="Start Dato" required>
                        <button type="submit">Godkend</button>
                    </form>
                    <form th:if="${!leaseApproved}" method="POST" action="/remove-from-csv">
                        <button type="submit">Fjern</button>
                    </form>
                    <form method="GET" action="/non-agreed-leases">
                        <button type="submit">Tilbage</button>
                    </form>
                </span>

                <span th:unless="${!leaseApproved}">
                    <form class="buttonFormatting" method="GET" action="/agreed-leases">
                        <button type="submit">Tilbage</button>
                    </form>

                    <form class="buttonFormatting" method="POST" th:if="${!leaseAgreement.isActive()}" th:action="@{/survey-report/{id}(id = ${leaseAgreement.getId()})}">
                        <button type="submit">Rediger surveyReport</button>
                    </form>

                </span>
            </div>
        </section>
    </body>
</html>