<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bilabonnement</title>
        <link rel="stylesheet" th:href="@{style.css}" href="style.css">
    </head>
    <body>
        <h2>Lejeaftale</h2>

        <section class="lejeaftaleInfo">

            <div class="tables">
                <table class="tableFormatting">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Kunde</th>
                        </tr>
                    </thead>

                    <tbody th:each="kunde : ${lejeaftale.getKunde()}">
                        <tr>
                            <td>Fornavn</td>
                            <td th:text="${kunde.getFornavn()}"></td>
                        </tr>
                        <tr>
                            <td>Efternavn</td>
                            <td th:text="${kunde.getEfternavn()}"></td>
                        </tr>
                        <tr>
                            <td>Adresse</td>
                            <td th:text="${kunde.getAdresse()}"></td>
                        </tr>
                        <tr>
                            <td>Postnummer</td>
                            <td th:text="${kunde.getPostnummer()}"></td>
                        </tr>
                        <tr>
                            <td>By</td>
                            <td th:text="${kunde.getBy()}"></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td th:text="${kunde.getEmail()}"></td>
                        </tr>
                        <tr>
                            <td>Mobil</td>
                            <td th:text="${kunde.getMobil()}"></td>
                        </tr>
                        <tr>
                            <td>CPR</td>
                            <td th:text="${kunde.getCpr()}"></td>
                        </tr>
                        <tr>
                            <td>Reg.Nummer</td>
                            <td th:text="${kunde.getRegNummer()}"></td>
                        </tr>
                        <tr>
                            <td>kontonummer</td>
                            <td th:text="${kunde.getKontoNummer()}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="tableFormatting">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Bil</th>
                        </tr>
                    </thead>

                    <tbody th:each="bil : ${lejeaftale.getBil()}">
                        <tr>
                            <td>Bilnavn</td>
                            <td th:text="${bil.getName()}"></td>
                        </tr>
                        <tr>
                            <td>Model</td>
                            <td th:text="${bil.getModel()}"></td>
                        </tr>
                        <tr>
                            <td>Stelnummer</td>
                            <td th:text="${bil.getStelnummer()}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="tableFormatting">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Abonnement</th>
                        </tr>
                    </thead>

                    <tbody th:each="abonnement : ${lejeaftale.getAbonnement()}">
                        <tr>
                            <td>Lejeperiode/måned</td>
                            <td th:text="${abonnement.getLejeperiodeMdr()}"></td>
                        </tr>
                        <tr>
                            <td>Lav selvrisiko</td>
                            <td th:text="${abonnement.isLavSelvrisiko()}"></td>
                        </tr>
                        <tr>
                            <td>Afleveringsforsikring</td>
                            <td th:text="${abonnement.isAfleveringsforsikring()}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="tableFormatting">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Prisoverslag</th>
                        </tr>
                    </thead>

                    <tbody th:each="prisoverslag : ${lejeaftale.getPrisoverslag()}">
                        <tr>
                            <td>Lejeperiode/måned</td>
                            <td th:text="${prisoverslag.getAbonnementsLaengde()}"></td>
                        </tr>
                        <tr>
                            <td>Totalpris</td>
                            <td th:text="${prisoverslag.getTotalpris()}"></td>
                        </tr>
                    </tbody>
                </table>

                <table class="tableFormatting">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Afhentningssted</th>
                        </tr>
                    </thead>

                    <tbody th:each="afhentningssted : ${lejeaftale.getAfhentningsSted()}">
                        <tr>
                            <td>Adresse</td>
                            <td th:text="${afhentningssted.getAdresse()}"></td>
                        </tr>
                        <tr>
                            <td>Postnummer</td>
                            <td th:text="${afhentningssted.getPostnummer()}"></td>
                        </tr>
                        <tr>
                            <td>By</td>
                            <td th:text="${afhentningssted.getBy()}"></td>
                        </tr>
                        <tr>
                            <td>Leveringspris</td>
                            <td th:text="${afhentningssted.getLeveringspris()}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>



            <div>
                <span th:if="${!isGodkendt}">
                    <form class="buttonFormatting" method="GET" action="/ikkeGodkendteLejeaftaler">
                        <button type="submit">Tilbage</button>
                    </form>
                    <form class="buttonFormatting" th:if="${!isGodkendt}" method="POST" action="/tilfoejDB">
                        <button type="submit">Godkend</button>
                    </form>
                </span>

                <span th:unless="${!isGodkendt}">
                    <form class="buttonFormatting" method="GET" action="/godkendteLejeaftaler">
                        <button type="submit">Tilbage</button>
                    </form>

                    <form class="buttonFormatting" method="POST" action="/lejeaftaler/godkendteLejeaftaler/tilstandsrapport">
                        <button type="submit">Tilføj tilstandsrapport</button>
                    </form>

                </span>
            </div>
        </section>
    </body>
</html>