<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" th:href="@{style.css}" href="style.css">
</head>
<body>
<h2>Lejeaftale</h2>

<section class="section2">
    <table>
        <tr>
            <th>Lejeaftale id</th>
            <th>oprettelsesdato</th>
            <th>Kunde cpr</th>
            <th>Bil stelnummer</th>

        </tr>
        <tr th:each="lejeaftale : ${lejeaftaler}">
            <td th:text="${lejeaftale.getId()}"></td>
            <td th:text="${lejeaftale.getOprettelsesDato()}"></td>
            <td th:text="${lejeaftale.getKunde().getCpr()}"></td>
            <td th:text="${lejeaftale.getBil().getStelNummer()}"></td>
        </tr>
    </table>
    </form>
</section>
</body>
</html>