<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" th:href="@{style.css}" href="style.css">
</head>
<body>
<h2>Lejeaftale</h2>

<section class="section3">
    <table>
        <tr>
            <th>Kunde</th>
            <th>Bil</th>
            <th>Abonnement</th>
            <th>Prisoverslag</th>
            <th>Afhentningssted</th>

        </tr>
        <tr th:each="obj : ${lejeaftale}">
            <td th:text="${obj.getKunde()}"></td>
            <td th:text="${obj.getBil()}"></td>
            <td th:text="${obj.getAbonnement()}"></td>
            <td th:text="${obj.getPrisoverslag()}"></td>
            <td th:text="${obj.getAfhentningsSted()}"></td>
        </tr>
    </table>

    <form th:if="${!isGodkendt}" method="GET" action="/ikkeGodkendteLejeaftaler">
        <button type="submit">Tilbage</button>
    </form>
    <form th:unless="${!isGodkendt}" method="GET" action="/godkendteLejeaftaler">
        <button type="submit">Tilbage</button>
    </form>
    <form th:if="${!isGodkendt}" method="POST" action="/tilfoejDB">
        <button type="submit">Godkend</button>
    </form>
</section>
</body>
</html>