<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bilabonnement</title>
        <link rel="stylesheet" th:href="@{style.css}" href="style.css">
    </head>
    <body>
        <div>
            <h1>Hello skaderegistreringsbruger</h1>


                <form method="GET" th:action="@{/leaseAgreement/{aftaleId}}">
                    <input type="number">id number</input>
                </form>


            <form method="POST" th:action="@{/alleAftaler}">
                <input type="submit">se lejeaftaler</input>
            </form>


            <form method="get" action="logUd">
                <button type="submit">log ud</button>
            </form>
        </div>
    </body>
</html>