<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Rediger Tilstandsrapport</h1>
<div class="tables">
    <section>
        <table>
            <h2>Skader</h2>
            <tr>
                <td>Titel</td>
                <td>Beskrivelse</td>
                <td>Pris</td>
            </tr>
            <tr th:each="injury,iter : ${surveyReport.getInjuries()}">
                <form method="POST" th:action="@{/remove-injury/{injuryIndex}(injuryIndex = ${iter.index})}">
                    <td th:text="${injury.getTitle()}"></td>
                    <td th:text="${injury.getDescription()}"></td>
                    <td th:text="${injury.getPrice()}"></td>
                    <td><button type="submit">Fjern</button></td>
                </form>
            </tr>
            <tr>
                <form method="POST" th:action="@{/add-injury}">
                    <input name="title" type="text" placeholder="Titel" required>
                    <input name="description" type="text" placeholder="Beskrivelse" required>
                    <input name="price" type="number" min="1" max="2147483647" placeholder="Pris" required>
                    <button type="submit">Tilføj</button>
                </form>
            </tr>
        </table>
    </section>

    <section>
        <table>
            <h2>Mangler</h2>
            <tr>
                <td>Titel</td>
                <td>Beskrivelse</td>
                <td>Pris</td>
            </tr>
            <tr th:each="deficiency,iter : ${surveyReport.getDeficiencies()}">
                <form method="POST" th:action="@{/remove-deficiency/{deficiencyIndex}(deficiencyIndex = ${iter.index})}">
                    <td th:text="${deficiency.getTitle()}"></td>
                    <td th:text="${deficiency.getDescription()}"></td>
                    <td th:text="${deficiency.getPrice()}"></td>
                    <td><button type="submit">Fjern</button></td>
                </form>
            </tr>
            <tr>
                <form method="POST" th:action="@{/add-deficiency}">
                    <input name="title" type="text" placeholder="Titel" required>
                    <input name="description" type="text" placeholder="Beskrivelse" required>
                    <input name="price" type="number" min="1" max="2147483647" placeholder="Pris" required>
                    <button type="submit">Tilføj</button>
                </form>
            </tr>
        </table>

    </section>
    <form class="buttonFormatting" method="POST" th:action="@{/agreed-leases/{leaseNo} (leaseNo = ${leaseAgreement.getId()})}">
        <button type="submit">Tilbage</button>
    </form>

</div>
</body>
</html>