<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bilabonnement</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<h1>Rediger Tilstandsrapport</h1>
<div class="tables">
    <section>
        <table>
            <h2>Skader</h2>
            <tr>
                <td>Titel</td>
                <td>Beskrivelse</td>
                <td>Pris</td>
            </tr>
            <tr th:each="injury,iter : ${surveyReport.getInjuries()}">
                <form method="POST" th:action="@{/fjern-injury/{skadeIdx}(skadeIdx = ${iter.index})}">
                    <td th:text="${injury.getTitle()}"></td>
                    <td th:text="${injury.getDescription()}"></td>
                    <td th:text="${injury.getPrice()}"></td>
                    <td><button type="submit">Fjern</button></td>
                </form>
            </tr>
            <tr>
                <form method="POST" th:action="@{/tilføj-injury}">
                    <input name="titel" type="text" placeholder="Titel">
                    <input name="beskrivelse" type="text" placeholder="Beskrivelse">
                    <input name="pris" type="number" min="1" max="2147483647" placeholder="Pris">
                    <button type="submit">Tilføj</button>
                </form>
            </tr>
        </table>
    </section>

    <section>
        <table>
            <h2>Mangler</h2>
            <tr>
                <td>Titel</td>
                <td>Beskrivelse</td>
                <td>Pris</td>
            </tr>
            <tr th:each="deficiency,iter : ${surveyReport.getDeficiencies()}">
                <form method="POST" th:action="@{/fjern-deficiency/{mangelIdx}(mangelIdx = ${iter.index})}">
                    <td th:text="${deficiency.getTitle()}"></td>
                    <td th:text="${deficiency.getDescription()}"></td>
                    <td th:text="${deficiency.getPrice()}"></td>
                    <td><button type="submit">Fjern</button></td>
                </form>
            </tr>
            <tr>
                <form method="POST" th:action="@{/tilføj-deficiency}">
                    <input name="titel" type="text" placeholder="Titel">
                    <input name="beskrivelse" type="text" placeholder="Beskrivelse">
                    <input name="pris" type="number" min="1" max="2147483647" placeholder="Pris">
                    <button type="submit">Tilføj</button>
                </form>
            </tr>
        </table>

    </section>
    <form class="buttonFormatting" method="POST" th:action="@{/godkendteLejeaftaler/{aftaleNo} (aftaleNo = ${leaseAgreement.getId()})}">
        <button type="submit">Tilbage</button>
    </form>

</div>
</body>
</html>